# =============== #
# Unity generated #
# =============== #
[Oo]bj/
UnityGenerated/
[Ll]ibrary/
[Tt]emp/
Assets/AssetStoreTools*
Assets/Standard*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs
*.vscode

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/VSCode
VSCode.meta
